# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Ans :

A database is a structured collection of data that is stored and organized for easy retrieval, manipulation, and management. It can be thought of as a digital filing system that allows users to store and access data in a variety of formats, including text, images, videos, and more. Databases are used in a wide range of applications, including business, science, medicine, education, and more.

SQL (Structured Query Language) databases and NoSQL (Not only SQL) databases are two different types of database management systems that are used to store and manage data.

SQL databases are relational databases that are based on a structured data model. They use tables to store data and rely on a predefined schema to ensure that data is organized in a consistent way. SQL databases are typically used in applications that require complex transactions, such as banking, financial services, and e-commerce. SQL databases use a query language called SQL to retrieve and manipulate data.

NoSQL databases, on the other hand, are non-relational databases that do not use a predefined schema. Instead, they use a flexible data model that allows data to be stored in a variety of formats, including key-value pairs, document-oriented, column-oriented, and more. NoSQL databases are typically used in applications that require high scalability, such as social media, gaming, and online advertising. NoSQL databases use a variety of query languages, including JSON, MongoDB, Cassandra, and more.

In summary, SQL databases use a structured data model and a predefined schema to store data, while NoSQL databases use a flexible data model and do not require a predefined schema. SQL databases are typically used in applications that require complex transactions, while NoSQL databases are typically used in applications that require high scalability.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# Ans :

DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and more.

Here are some common DDL commands and their explanations:

## CREATE: The CREATE command is used to create a new database object, such as a table or view. For example, to create a new table named "employees" with columns for employee ID, name, and department, you would use the following SQL command:

In [25]:
CREATE TABLE employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT,
  salary DECIMAL(10,2)
);

## DROP: The DROP command is used to delete an existing database object. For example, to delete the "employees" table that was created in the previous example, you would use the following SQL command:

In [23]:
DROP TABLE employees;

## ALTER: The ALTER command is used to modify the structure of an existing database object. For example, to add a new column named "salary" to the "employees" table, you would use the following SQL command:

In [26]:
ALTER TABLE employees ADD COLUMN department VARCHAR(50);

## TRUNCATE: The TRUNCATE command is used to delete all the data from a table. Unlike the DROP command, TRUNCATE does not delete the table itself, only the data in it. For example, to delete all the data from the "employees" table, you would use the following SQL command:

In [ ]:
TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Ans :

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in the database. DML statements are used to insert, update, and delete data from tables.

Here are some examples of commonly used DML statements:

## INSERT: The INSERT statement is used to add new data into a table.For example, the following SQL statement inserts a new row into a table named "customers" with three columns: id, name, and email.

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'john@example.com');

## UPDATE: The UPDATE statement is used to modify existing data in a table.For example, the following SQL statement updates the email address of a customer with an ID of 1:

In [ ]:
UPDATE customers SET email = 'johndoe@example.com' WHERE id = 1;

## DELETE: The DELETE statement is used to remove data from a table.For example, the following SQL statement deletes a row from the "customers" table where the ID is 2:

In [ ]:
DELETE FROM customers WHERE id = 2;

# Q4. What is DQL? Explain SELECT with an example.

# Ans :

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query data stored in tables. DQL statements are used to retrieve data from tables and display it to the user.

The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more tables based on a set of criteria. Here is an example of how to use the SELECT statement:

Assume we have a table named "students" with columns "id", "name", "age", and "grade". We can retrieve all the data from this table using the following SELECT statement:

In [ ]:
SELECT * FROM students;

This statement retrieves all the columns and rows from the "students" table. The asterisk (*) is used to select all columns. If we only want to retrieve specific columns, we can list them after the SELECT keyword.This statement retrieves only the "id", "name", and "grade" columns from the "students" table.

In [ ]:
SELECT id, name, grade FROM students;

We can also add conditions to the SELECT statement to retrieve specific rows based on certain criteria. For example, if we only want to retrieve students with a grade of "A", we can add a WHERE clause to the SELECT statement:

In [ ]:
SELECT id, name, grade FROM students WHERE grade = 'A';

This statement retrieves only the "id", "name", and "grade" columns from the "students" table where the grade is equal to "A".

# Q5. Explain Primary Key and Foreign Key.

# Ans :

In relational databases, primary keys and foreign keys are used to establish relationships between tables.

A primary key is a column or group of columns in a table that uniquely identifies each row in that table. It must be unique, non-null, and cannot be changed once it has been set. Each table in a database should have a primary key to ensure data integrity and consistency.

For example, consider a table named "students" with columns "id", "name", "age", and "grade". We can set the "id" column as the primary key for this table, which will ensure that each student in the table has a unique ID.

A foreign key is a column or group of columns in a table that refers to the primary key of another table. It establishes a link between two tables, where one table (the "child" table) references the primary key of another table (the "parent" table).

For example, consider a second table named "grades" with columns "id", "student_id", and "subject". We can set the "student_id" column as a foreign key that references the "id" column in the "students" table. This will establish a relationship between the two tables, where each row in the "grades" table is associated with a particular student in the "students" table.

By using foreign keys, we can create relationships between tables that allow us to query data from multiple tables at once, ensuring data consistency and reducing redundancy.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Ans :

In [ ]:
import mysql.connector

# establish database connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create cursor object
mycursor = mydb.cursor()

# execute SQL query
mycursor.execute("SELECT * FROM customers")

# fetch all rows
myresult = mycursor.fetchall()

# print the rows
for row in myresult:
  print(row)

In this code, we first import the mysql.connector library and use it to establish a connection to a MySQL database. We then create a cursor object using the cursor() method, which allows us to execute SQL queries on the database.

The execute() method is used to execute a SQL query. In this example, we execute a SELECT statement to retrieve all the rows from a table named "customers". After executing the query, we use the fetchall() method to retrieve all the rows that were returned by the query.

Finally, we print the rows using a for loop.

The cursor() method returns a cursor object that is used to execute SQL queries and fetch the results. The execute() method is called on the cursor object and takes a SQL query as its argument. It is used to execute the query and returns no values.

In summary, the cursor() method creates a cursor object, and the execute() method is used to execute SQL queries on the database using the cursor object.

# Q7. Give the order of execution of SQL clauses in an SQL query.

# Ans :

The order of execution of SQL clauses in an SQL query is as follows:

1.FROM: This clause specifies the table or tables from which the data is being retrieved.

2.JOIN: If there are any join operations to be performed, they are executed next. JOIN is used to combine rows from two or more tables based on a related column between them.

3.WHERE: This clause is used to filter the rows returned by the query based on a specified condition.

4.GROUP BY: If the query includes any aggregate functions (such as SUM or AVG), this clause is used to group the rows into sets based on the specified columns.

5.HAVING: This clause is used to filter the groups returned by the GROUP BY clause based on a specified condition.

6.SELECT: This clause specifies the columns to be retrieved from the table or tables.

7.DISTINCT: If the query includes the DISTINCT keyword, duplicates are removed from the result set.

8.ORDER BY: This clause is used to sort the result set based on one or more columns.

9.LIMIT: This clause is used to limit the number of rows returned by the query.

Note that not all of these clauses are required in every SQL query, and the order of execution may vary depending on the specific query being executed. However, this is the general order in which the clauses are executed when they are included in a query.